.root {
  display: inline-flex;
  position: relative;
  padding: 0 1em;
  width: var(--SearchBar_width);

  &:hover .focusContainer::before {
    border-color: var(--SearchBar_borderColorActive);
  }

  /* When any child element of this form has focus, hilight the whole
     form using a pseudo element. See: http://stackoverflow.com/a/11167056 */
  & .keywordInput:focus ~ .focusContainer::before,
  & .locationInput:focus ~ .focusContainer::before,
  & .searchButton:focus ~ .focusContainer::before {
    border-color: var(--SearchBar_borderColorActive);
  }
}

/* Since we cannot apply focus styles straight to the form when
   anything within it has focus, we have to create a special container
   for the focus styles to cover the whole form area. */
.focusContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--SearchBar_borderColor);
  border-radius: 10em; /* Big enough to be fully rounded */
  z-index: -1; /* Required to allow mouse event to the inputs/buttons. */
}

.keywordInput,
.locationInput {
  margin: var(--SearchBar_textPadding) var(--SearchBar_textPadding) var(--SearchBar_textPadding) 0;
  padding: 0;
  line-height: var(--SearchBar_lineHeight);
  border: none;
  transition: width 0.25s ease-out;
  color: var(--SearchBar_textColor);

  /* TODO: Move typography overrides to Topbar */
  font-family: var(--SearchBar_fontFamily);
  font-size: var(--SearchBar_fontSize);

  @nest .root:hover & {
    color: var(--SearchBar_textColorActive);

    &:focus {
      /* focus color should override the active color */
      color: var(--SearchBar_textColorFocus);
    }
  }

  &:focus {
    width: 90%;
    outline: none;
    color: var(--SearchBar_textColorFocus);

    /* Trigger focus styles for the search icon SVG when these inputs have focus. */
    & ~ .searchButton svg {
      stroke: var(--SearchBar_iconColorActive);
    }
  }
}

.keywordInput { width: 60%; }
.locationInput { width: 40%; }

/* Additional separating styles are added only when the two inputs are
   next to each other. */
.keywordInput + .locationInput {
  border-left: 1px solid var(--SearchBar_borderColor);
  padding-left: var(--SearchBar_textPadding);
}

.searchButton {
  padding: 0;
  border: none;
  background-color: transparent;

  & svg {
    width: 1.6em;
    height: 1.6em;
    stroke: var(--SearchBar_iconColor);

    @nest .root:hover & {
      stroke: var(--SearchBar_iconColorActive);

      &:hover {
        stroke: var(--SearchBar_iconColorFocus);
      }
    }
  }

  &:focus {
    outline: none;

    & svg {
      stroke: var(--SearchBar_iconColorFocus);
      outline: 1px solid var(--SearchBar_borderColor);
    }
  }
}
