.root {
  display: inline-block;
  position: relative;
  padding: 0 2em 0 1em;
  height: 2.4em;
  overflow: hidden;

  &:hover .focusContainer:before {
    border-color: var(--SearchBar_borderColorActive);
  }

  /* When any child element of this form has focus, hilight the whole
     form using a pseudo element. See: http://stackoverflow.com/a/11167056 */
  & *:focus ~ .focusContainer:before {
    border-color: var(--SearchBar_borderColorActive);
  }
}

/* Since we cannot apply focus styles straight to the form when
   anything within it has focus, we have to create a special container
   for the focus styles to cover the whole form area. */
.focusContainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--SearchBar_borderColor);
  border-radius: 10em;
}

.keywordInput,
.locationInput {
  width: 10em;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  border: none;
  transition: width 0.25s ease-out;

  &:focus {
    width: 16em;
    outline: none;

    /* Trigger focus styles for the search icon SVG when these inputs have focus. */
    /* ID values within the inline SVG should not be mangled by CSS modules. */
    & ~ .searchButton :global(#line),
    & ~ .searchButton :global(#Oval) {
      stroke: var(--SearchBar_borderColorActive);
    }
  }
}

/* Additional separating styles are added only when the two inputs are
   next to each other. */
.keywordInput + .locationInput {
  border-left: 1px solid var(--SearchBar_borderColor);
  padding-left: 0.5em;
}

.searchButton {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0;
  border: none;
  background-color: transparent;

  & svg {
    width: 1.6em;
    height: 1.6em;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--SearchBar_borderColor);

    & :global(#line),
    & :global(#Oval) {
      stroke: var(--SearchBar_borderColorActive);
    }
  }

  & :global(#line),
  & :global(#Oval) {
    stroke: var(--SearchBar_borderColor);

    @nest .root:hover & {
      stroke: var(--SearchBar_borderColorActive);
    }
  }
}
