.root {
  display: inline-block;
  position: relative;
  border: 1px solid var(--SearchBar_borderColor);
  border-radius: 10em;
  padding: 0 2em 0 1em;
  height: 2.4em;
  overflow: hidden;

  /* The root component cannot change its styles based on the inputs'
     focus state, so we are forced to handle the focus state in JS. */
  &:hover,
  &.focus {
    border-color: var(--SearchBar_borderColorActive);
  }
}

.keywordInput,
.locationInput {
  width: 10em;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  border: none;
  transition: width 0.25s ease-out;

  &:focus {
    width: 16em;
    outline: none;
  }
}

/* Additional separating styles are added only when the two inputs are
   next to each other. */
.keywordInput + .locationInput {
  border-left: 1px solid var(--SearchBar_borderColor);
  padding-left: 0.5em;
}

.searchButton {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0;
  border: none;
  background-color: transparent;

  & svg {
    width: 1.6em;
    height: 1.6em;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--SearchBar_borderColor);
  }

  /* ID value within the inline SVG should not be mangled by CSS modules. */
  & :global(#line),
  & :global(#Oval) {
    stroke: var(--SearchBar_borderColor);

    /* cssnext doesn't understand the comma separator with these two
       rules, so we have to make some repetition. */
    @nest .root:hover & {
      stroke: var(--SearchBar_borderColorActive);
    }

    @nest .focus & {
      stroke: var(--SearchBar_borderColorActive);
    }
  }
}
